# Django Configuration Template
SECRET_KEY="your-django-secret-key"

# Email Configuration
EMAIL_HOST_USER="your-email@example.com"
EMAIL_HOST_PASSWORD="your-email-app-password"

# Fast2SMS API Key
FAST2SMS_API_KEY="your-fast2sms-api-key"

# Razorpay API Credentials
RAZR_KEY_ID="your-razorpay-key-id"
RAZR_SECRET_KEY="your-razorpay-secret-key"
